<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>Edit Notice</h1>
         </header>
         {{#if error}}
         <p class = "alertMsg">*{{error}}</p>
         {{/if}}
          {{#if alertMsg}}
         <p class = "alertMsg">*{{alertMsg}}</p>
         {{/if}}
         <form id="updateNotice-form" action="/notice/update" method="POST">
            <div id="inputDiv">
               <label for="title"> Notice Title</label><br>
               <input class="major" type="text" name="title" value = {{notice.title}}>
            </div>
            <div id="inputDiv">
               <label for="content">Notice Content</label><br>
               <input class="major" type="text"  name="content" value = {{notice.content}}>
                  
            </div>
            <div id="inputDiv">
               <label for="startdate">Notice StartDate</label><br>
               <input class="major" type="text"  name="startdate" value = {{notice.startdate}}>
            </div>

            </div>
            <div id="inputDiv">
               <label for="enddate">Notice EndDate</label><br>
               <input class="major" type="text"  name="enddate" value = {{notice.enddate}}>
            </div>


            <div id="inputDiv">
               <label for="noticeFor">Notice For</label><br>
                <select id="noticeFor" name="noticeFor">
                   <option value = {{notice.noticeFor}} selected>{{notice.noticeFor}}</option>
                  <option name="noticeFor" value="Admin">Admin</option>
                  <option name="noticeFor" value="Trainer">Trainer</option>
                  <option name="noticeFor" value="Member">Member</option>  
               </select>
            </div>
            <input type="hidden" name="noticeId" value={{notice._id}}>
            <div class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit"  value="Update"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/notice/view/{{notice._id}}'"
                                id="cancel" value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>