<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>{{membership.membershipname}} Membership</h1>
               <p id="editOption"><a  href="/membership/update/{{membership._id}}"><img src="../../public/images/Editing-edit-icon.png"></a> | <a href="/membership/delete/{{membership._id}}"><img src="../../public/images/delete.png"></a></p>
         </header>
         {{#if msg}}
            <p class="successMsg">{{msg}}</p>
         {{/if}}
         <div class="row">
            <div class="col-sm-9">
               <div class="view" id="description">
                  <h4>ABOUT</h4>
                  <p>This is membership plan</p>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="view" id="membershipperiod">
                  <h4>MEMBERSHIP PERIOD</h4>
                  <p>{{membership.membershipperiod}}</p>
               </div>
               <div class="view" id="signupfees">
                  <h4>SIGNUP FEES</h4>
                  <p>{{membership.signupfees}}</p>
               </div>
               <div class="view" id="services">
                  <h4>SERVICES</h4>
                  <p>{{membership.services}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>